/*Self-hosting fonts*/
@font-face {
    font-family: "Silkscreen";
    src: url("../assets/fonts/Silkscreen-Regular.ttf");
}

body {
  font-family: "Silkscreen", sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
